In [1]:
import pandas as pd


df = pd.read_csv("./data/ImmoDataRuhr.csv")

        ID   sqmPrice    regio2
0      169   9.451613  Dortmund
1      232   7.084590    Bochum
2      427  11.403509  Dortmund
3      545   6.888889  Duisburg
4      620  10.039474  Duisburg
..     ...        ...       ...
195  11840   7.376667  Dortmund
196  11848   7.323861    Bochum
197  11933   8.299627  Dortmund
198  11954  10.111413  Dortmund
199  12067  10.344828  Dortmund

[200 rows x 3 columns]

In [2]:
# cleaning the data:
print(df[df["sqmPrice"].isna()])
# --> no

Empty DataFrame
Columns: [ID, sqmPrice, regio2]
Index: []

In [41]:
print("mean")
print(df.groupby(by="regio2").mean())
print("\nstandrad deviation")
print(df.groupby(by="regio2").std())

print("\ncount")
print(df.groupby(by="regio2").count()) # 50 in each group --> perfect

mean
               ID  sqmPrice
regio2
Bochum    6199.76  9.150398
Dortmund  6596.06  9.525716
Duisburg  6000.52  8.621169
Essen     6081.84  9.298602

standrad deviation
                   ID  sqmPrice
regio2
Bochum    3351.817561  1.325280
Dortmund  4129.170181  1.355733
Duisburg  3275.133699  1.141194
Essen     3453.132499  1.187856

count
          ID  sqmPrice
regio2
Bochum    50        50
Dortmund  50        50
Duisburg  50        50
Essen     50        50

In [ ]:

# test residuals qpproximately normal distributed
# shapiro wilk test +  histogram


# homoscedasticity or Homogeneity of variances variances equal between groups
# Levenes or Bartletts Test

In [40]:

# ANOVA
# calculate overall mean:

globalMean = df["sqmPrice"].mean()
SS_total, SS_within, SS_between = 0,0,0
regioMeans = dict()

for i, row in df.iterrows():
    price = row["sqmPrice"]
    regioMean = df[df["regio2"] == row["regio2"]]["sqmPrice"].mean()
    regioMeans[row["regio2"]] = regioMean
    SS_total += (price - globalMean)**2
    SS_within += (price - regioMean)**2
    SS_between += (globalMean - regioMean)**2



print(SS_total, SS_between+ SS_within)




# print( SS_total + SS_between,SS_within)

331.2226572275374 331.2226572275376